# quicrtp.conf.sample

[RTP]
port_range_start = 5000
port_range_end = 5100

[SRTP]
enable = true
# The SRTP key should be provided via environment variable or secure storage

[Cache]
redis_uri = tcp://redis:6379

[Logging]
level = info

[QUIC]
server_ip = 192.168.1.100
server_port = 4433